[defaults]
inventory = inventory/hosts.yml
local_tmp = .ansible/tmp
remote_tmp = /tmp/.ansible-${USER}/tmp
roles_path = roles
stdout_callback = default
bin_ansible_callbacks = True
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent

[galaxy]
cache_dir = .ansible/galaxy_cache

[ssh_connection]
control_path_dir = .ansible/cp

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
