---
apiVersion: v1
kind: Service
metadata:
  name: {{ open_webui_app_name }}
  namespace: {{ open_webui_namespace }}
spec:
  selector:
    app: {{ open_webui_app_name }}
  ports:
    - port: {{ open_webui_service_port }}
      targetPort: {{ open_webui_container_port }}
  type: ClusterIP
