cloudflare_account_id = "00000000000000000000000000000000"
cloudflare_zone_id    = "00000000000000000000000000000000"
domain                = "solvelio.com"
host_id               = "llm01"
allowed_email         = "user@example.com"
allowed_emails        = ["user2@example.com"]
access_team_name      = "example-team"
warp_private_network_cidr = "192.168.1.0/24"
